#contact-main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-contato {
  height: 80vh;
  width: 70%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20%;
}

.section-contato > div {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.info-container h2,
.info-container h3,
.info-container h4,
.info-container h5,
.form-container h4 {
  font-family: var(--hammer-font);
  font-weight: 300;
}

.info-container h2 {
  font-size: 3.5rem;
  color: var(--dark-gray);
  margin-bottom: 3rem;
}

.info-container h3 {
  font-size: 2rem;
  color: var(--text-color-2);
  margin-bottom: 1rem;
}

.info-container h4 {
  color: var(--primary);
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.info-container h5 {
  font-size: 1.6rem;
  color: var(--dark-gray);
}

.campus {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-bottom: 2rem;
}

.contact-container {
  margin-top: 15%;
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.contact-container h5 {
  color: var(--primary);
  margin-bottom: 1rem;
}

.contact-container span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--text-color);
  font-family: var(--open-sans-font);
  font-size: 1.4rem;
}

.contact-container i {
  font-size: 2rem;
  color: var(--primary);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
}

.form-container h4 {
  color: var(--primary);
  margin-bottom: 2rem;
}

.form-container p {
  margin-bottom: 2rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-group label {
  text-transform: capitalize;
  font-family: var(--hammer-font);
}

.input-group input,
.input-group textarea {
  padding: 1.2rem 3rem;
  border-radius: 10rem;
  outline: 2px solid transparent;
  border: 1px solid var(--dark-gray);
  color: var(--text-color);

  transition: 0.3s all ease;
}

.input-group textarea {
  resize: none;
  height: 10rem;
  border-radius: 3rem;
  font-family: var(--open-sans-font);
}

.input-group input:focus,
.input-group textarea:focus {
  border-color: var(--primary);
  outline: 2px solid var(--primary-50op);
}

.button {
  cursor: pointer;
  padding: 1rem 3.5rem;
  border-radius: 10rem;

  outline: 3px solid transparent;
  font-family: var(--hammer-font);
  background-color: var(--primary);
  border: none;
  color: var(--white);

  transition: 0.3s all ease;
}

.button:focus,
.button:active {
  outline: 3px solid var(--primary-50op);
}

.button--form {
  align-self: end;
  width: 100%;
}

p {
  font-family: var(--open-sans-font);
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--text-color);
}
