#main-sobre {
  width: 100%;
}

.section-sobre {
  height: 60vh;
  background-color: var(--light-gray-2);
  margin-top: 10rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.section-sobre figure img {
  height: 40rem;
  border-radius: 5rem;
}

.sobre-container {
  width: 60%;

  display: flex;
  align-items: center;
  gap: 10%;
}

.sobre {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sobre h3,
.sobre h2,
.section-motivos h2 {
  font-family: var(--hammer-font);
  font-weight: 300;
}

.sobre h3 {
  font-size: 2rem;
  color: var(--text-color-2);
  margin-bottom: 1rem;
}

.sobre h2,
.section-motivos h2 {
  font-size: 3rem;
  color: var(--dark-gray);
  margin-bottom: 2rem;
}

.sobre p {
  margin-bottom: 2rem;
}

.section-motivos {
  height: 80vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-motivos h2 {
  margin-bottom: 10rem;
}

.motivos-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.motivos__num {
  font-size: 5rem;
  font-family: var(--hammer-font);
  font-weight: 600;
  color: var(--primary);
}

.motivos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.section-cursos {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-cursos h2 {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
  font-family: var(--hammer-font);
  font-weight: 300;
  font-size: 3.5rem;
  color: var(--dark-gray);
  margin-bottom: 6rem;
}

/* CSS TUTORIAL */

.cursos__container {
  width: 100%;
  height: 30rem;
  position: relative;
}

.cursos__card {
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  background: #f2f2f2;

  position: relative;
  height: 90%;
  overflow: hidden;

  display: flex;
}

.cursos__card::before {
  content: "";
  position: absolute;
  height: 45%;
  width: 100%;
  background-image: linear-gradient(
      180deg,
      rgba(196, 196, 196, 0) 0%,
      #b047ca 82.69%
    ),
    url("../images/computer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
}

.cursos__card .cursos__card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: var(--hammer-font);
  z-index: 1;
}

.card__header {
  padding: 3rem;
}

.cursos__card-content h4 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: var(--white);
}

.cursos__card-content p {
  margin-bottom: 2rem;
  font-weight: 600;
}

.cursos__card-content ul {
  list-style: none;
  width: 100%;
}

.cursos__card-content ul li {
  padding: 1.5rem 0 1.5rem 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;

  cursor: pointer;
}

.cursos__card-content ul li::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--primary);
  left: 0;
  bottom: 0;
  position: absolute;
}

.cursos__card-content li i {
  color: var(--primary);
}
