.section--cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-top: 10rem;
  gap: 10rem;
  position: relative;
}

.texts-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.texts-container h1 {
  font-family: var(--hammer-font);
  max-width: 60%;
  text-align: center;
  font-size: 4.5rem;
  color: var(--dark-gray);
  line-height: 6rem;

  margin-bottom: 2rem;
}

.texts-container span {
  text-transform: uppercase;
  font-size: 6rem;

  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: white;
}

.texts-container p {
  font-family: var(--open-sans-font);
  font-size: 1.4rem;
  color: var(--text-color);
}

.cta__image {
  align-self: flex-start;
}

.cta__image img {
  max-height: 50%;
  max-width: 100%;
}

.button--cta {
  text-decoration: none;
  position: absolute;
  font-family: var(--hammer-font);
  color: var(--white);
  padding: 1.6rem 2.4rem;
  border-radius: 10rem;
  border: 1px solid var(--white);
  bottom: 17rem;

  transition: 0.3s all ease;
  z-index: 100;
}

.button--cta:hover {
  transform: scale(1.01);
}

.custom-shape-divider-bottom-1757771847 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1757771847 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 249px;
}

.custom-shape-divider-bottom-1757771847 .shape-fill {
  fill: #ffffff;
}

.section--about {
  height: 100vh;
  width: 80%;
  margin: 0 auto;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10rem;
}

.section--about h2 {
  margin-top: 10rem;
  align-self: center;
  font-family: var(--hammer-font);
  color: var(--dark-gray);
  font-size: 3.5rem;
  font-weight: 300;
}

.icons__container {
  width: 100%;
  background-color: var(--light-gray-2);
  padding: 5rem;
  border-radius: 5rem;

  display: flex;
  justify-content: space-evenly;
}

.icons__container span {
  font-family: var(--hammer-font);
  color: var(--dark-gray);
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.icons__container i {
  font-size: 5rem;
  position: relative;
}

.icons__container i::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: var(--primary);
  position: absolute;
  bottom: -1.5rem;
  left: 0;
}

.articles-container {
  display: flex;
  gap: 2rem;
  line-height: 2.5rem;
  color: var(--text-color);
  font-family: var(--open-sans-font);
}
